<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap" rel="stylesheet">
  <title>Qui-suis-je</title>

</head>

<body >

    <div class="corps container-fluid " style="margin-top: -38px;background-image:linear-gradient(rgba(42, 134, 72, 0.4), rgba(59, 109, 156, 0.7)),url('assets/img/phare.png');">
      <img src="assets/img/logoRS.png" style="padding-top: 15px;" class="d-block mx-auto" alt="logositeweb">
      <h2 style="color:white;text-align:center;margin-top:2%;" class="fin">Richard Schulze</h2>
      <h4 style="font-family: 'Prompt', sans-serif; color:rgb(90, 129, 71);text-align:center;">Developpeur Web</h4>
        <nav class="navbar navbar-expand-lg ">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="container-fluid">
            <div class=" collapse navbar-collapse w-50" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto ">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" [routerLink]="['/accueil']">Accueil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" [routerLink]="['/qui-suis-je']">Qui suis-je ?</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mon experience
                  </a>
                  <ul class="dropdown-menu">

                    <li><a class="dropdown-item" [routerLink]="['/exemple-de-creation']">Exemple de création</a></li>

                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    La création de votre site
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" [routerLink]="['/site_internet']">Présentation générale</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/les_3_etapes']">Les 3 grandes étapes</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/deroulement']">Déroulement de la création</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" [routerLink]="['/FAQ']">FAQ</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mes tarifs
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" [routerLink]="['/tarifs']" >Site de présentation</a></li>

                  </ul>
                </li>

                <li class="nav-item">
                  <a class="nav-link " aria-current="page" [routerLink]="['/me-contacter']">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" [routerLink]="['/parallax']">Parallax</a>
                </li>

              </ul>

            </div>
          </div>
        </nav>

        <div class="container"><br><br>
          <img class="d-block mx-auto " style="border-radius: 50%;"src="assets/img/ric.png" alt="photodeveloppeurweb">

          <h2 style="font-weight:bold; text-align:center; margin-top: 20px;">
            Créatif, à l'écoute & passionné<br><br><br></h2>
          <p style="margin-left:20%;text-align:justify; font-size: 15px; color:white; ">
          <span>Attiré par les nouvelles technologies depuis mon enfance</span>  , j'ai toujours aimé créer en utilisant les outils numériques<br> et me souviens encore avec clarté et émotion de l'arrivée du premier ordinateur à la maison.<br><br>
          Par la suite je me suis lancé dans la conception de sites internet puis j'ai passé un temps considérable et passionnant<br> à développer différentes oeuvres à cette période.  Je touchais déjà aux différents aspects de la vie d'un site internet.<br><br>

          Curieux, aimant apprendre, doté d'une rigueur et de la volonté d'un travail bien fait, je me suis engagé en Gendarmerie pendant plus de 25 ans.<br>


          Pendant ces très belles années, j'ai participé avec grand plaisir et beaucoup de passion aux différentes missions qui m'incombaient.<br>
          Mais au fond de moi une autre passion m'animait toujours: <span>celle du developpement Web</span> <br><br>

          J'avais besoin de me retrouver, de créer mais surtout avoir un contact différent avec les autres.<br>

          Durant ma carrière militaire, je fus sollicité à plusieurs reprises pour réaliser différents process.<br><br>

          Un peu plus tard, c'est un de mes amis qui me demanda de l'aide pour un site internet ... puis encore un suivant. Cette demande nouvelle et mon envie d'entreprendre me poussèrent, en 2022 à quitter la "grande muette" et à créer ma propre entreprise <span> en freelance.</span><br><br>

          Afin de parfaire mes connaissances et compétences en matière de <span>developpement Web</span>  , j'ai suivi des cours et passé en parallèle des certifications .
          (front-end, full stack, back-end, cybersécurité...)<br><br>

          Je suis heureux de pouvoir découvrir de nouveaux univers, de délivrer des oeuvres numériques agréables à parcourir et efficaces pour le business et j'oeuvre chaque jour avec enthousiasme et rigueur.<br><br>
          Grâce à mon emploi de freelance, je peux notamment m'occuper de mes 3 enfants que je n'ai pas beaucoup vu grandir au cours de ma carrière militaire. Le plaisir retrouvé d'un papa.👍<br><br>

          Aujourd'hui , le contact humain n'est plus le même pour moi.<br>
          Comme vous le savez, aucune entreprise ne peut prospérer sans clients. Rendre les clients heureux est l'essence même de la gestion de la relation client pour une entreprise, je souhaite donc apparaitre comme un partenaire de confiance.<br>
          C'est pourquoi, je mets un point d'honneur à vous accorder mon attention, identifier vos besoins, et créer une relation client solide et de longue durée.<br>
          Plus que des clients, si nous travaillons ensemble, votre satisfaction sera mon moteur.<br><br>

          Amoureux de la Nature, passionné de culture, de nouvelles technologies, homme de famille et de valeurs, j'aime parcourir le monde qui m'entoure et suis toujours si heureux de rencontrer des gens aux parcours de vie multiples, aux rêves et projets différents afin de les aider au mieux à concrétiser leurs projets professionnels en leur créant la plus belle vitrine en ligne possible.<br><br>

          Pour un premier contact, vous pouvez m'expliquer votre projet en m'écrivant par mail à <a href="mailto:rswebcorp@gmail.com">rswebcorp@gmail.com</a></p>

          <p style="margin-left:20%;text-align:justify; font-size: 15px; color:white; ">
            Vous souhaitant une belle journée, merci d'avoir pris le temps de me lire et j'espère que nous aurons l'occasion de travailler ensemble, je suis convaincu que vous ne le regretterez pas si vous me choisissez. .
          </p>
          <div class="fin">à très bientôt, Richard Schulze</div>

        </div>
<br>
      </div>
   <footer>
    <div class="footer container-fluid">
      <img src="assets/img/logoRS.png"  class="d-block mx-auto" alt="logositeweb">
      <h2 style="color:white;text-align:center;margin-top:2%;" class="fin">Richard Schulze</h2>
      <h4 style="color:rgb(90, 129, 71);text-align:center;">Developpeur Web</h4>
      <a href="mailto:rswebcorp@gmail.com" style="text-decoration: none;color:white;text-align:center;margin-top:2%; font-size: 12px;">rswebcorp@gmail.com</a>
      <p style="color:white;text-align:center; font-size: 13px;">&copy; 2022 Richard SCHULZE <span><a [routerLink]="['/mentions_legales']">-Mentions légales</a><a [routerLink]="['/CGV']">- CGV</a></span></p>

    </div>
   </footer>

</body>
</html>



