<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <title>Qui-suis-je</title>

</head>

<body >

    <div class="corps container-fluid " style="margin-top: -38px;background-image:linear-gradient(rgba(42, 134, 72, 0.4), rgba(59, 109, 156, 0.7)),url('assets/img/phare.png');">
      <img src="assets/img/logoRS.png" style="padding-top: 15px;" class="d-block mx-auto" alt="logositeweb">
      <h2 style="color:white;text-align:center;margin-top:2%;" class="fin">Richard Schulze</h2>
      <h4 style="font-family: 'Prompt', sans-serif; color:white;text-align:center;">Developpeur Web</h4>
        <nav class="navbar navbar-expand-lg ">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="container-fluid">
            <div class=" collapse navbar-collapse w-50" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto ">
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" [routerLink]="['/accueil']">Accueil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" [routerLink]="['/qui-suis-je']">Qui suis-je ?</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mon experience
                  </a>
                  <ul class="dropdown-menu">

                    <li><a class="dropdown-item" [routerLink]="['/exemple-de-creation']">Exemple de création</a></li>

                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    La création de votre site
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" [routerLink]="['/site_internet']">Présentation générale</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/les_3_etapes']">Les 3 grandes étapes</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/deroulement']">Déroulement de la création</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" [routerLink]="['/FAQ']">FAQ</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mes tarifs
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" [routerLink]="['/tarifs']" >Site de présentation</a></li>

                  </ul>
                </li>

                <li class="nav-item">
                  <a class="nav-link " aria-current="page" [routerLink]="['/me-contacter']">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" [routerLink]="['/parallax']">Parallax</a>
                </li>

              </ul>

            </div>
          </div>
        </nav>

        <div class="container"><br><br>


          <h2 style="font-weight:bold; text-align:center; margin-top: 20px;">
            Créatif, à l'écoute & passionné<br><br><br></h2>
            <div class="row">
              <div class="col">
            <img src="assets/img/language/html-5.png" class="w-10 m-2" alt="icon_html5"> &nbsp;
            <img src="assets/img/language/css-3.png" class="w-10 m-2"  alt="icon_css3">&nbsp;
            <img src="assets/img/language/php.png" class="w-10 m-2"  alt="icon_css3">&nbsp;
            <img src="assets/img/language/mysql.png" class="w-10 m-2"  alt="icon_css3">&nbsp;
            <img src="assets/img/language/angular.png" class="w-10 m-2" style="border-radius:50%;" alt="icon_angular">&nbsp;
            <img src="assets/img/language/bootstrap.png" class="w-10 m-2" style="border-radius:50%;"alt="icon_bootstrap">&nbsp;
            <img src="assets/img/language/symfony.jpg" class="w-10 m-2" style="border-radius:50%;" alt="icon_symfony">&nbsp;
            <img src="assets/img/language/wordpress.png" class="w-10 m-2" style="border-radius:50%;" alt="icon_wordpress">&nbsp;
            <img src="assets/img/language/github.png" class="w-10 m-2" style="border-radius:50%;" alt="icon_github">&nbsp;
            <br><br>


        </div></div></div>
<br>
      </div>
   <footer>
    <div class="footer container-fluid">
      <img src="assets/img/logoRS.png"  class="d-block mx-auto" alt="logositeweb">
      <h2 style="color:white;text-align:center;margin-top:2%;" class="fin">Richard Schulze</h2>
      <h4 style="color:rgb(90, 129, 71);text-align:center;">Developpeur Web</h4>
      <a href="mailto:rswebcorp@gmail.com" style="text-decoration: none;color:white;text-align:center;margin-top:2%; font-size: 12px;">rswebcorp@gmail.com</a>
      <p style="color:white;text-align:center; font-size: 13px;">&copy; 2022 Richard SCHULZE <span><a [routerLink]="['/mentions_legales']">-Mentions légales</a><a [routerLink]="['/CGV']">- CGV</a></span></p>

    </div>
   </footer>

</body>
</html>



