body{
  font-family: 'Prompt', sans-serif;
  color:white;

  margin-top:2%;
}
.corps{

  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-link:hover{
  background-color: bisque;
  color:black;
}
.nav-link{
  color:white;
}
.dropdown-menu:hover{
  background-color: bisque;
}
.clignote{
  animation-duration: 2s;
   animation-name: clignoter;
   animation-iteration-count: infinite;
   transition: none;

}
@keyframes clignoter {
  0%   { opacity:1; }
  40%   {opacity:0; }
  100% { opacity:1; }
}

.footer{
  background-color: rgb(44,78,106);
  padding-top: 15px;
  padding-bottom:15px;
  text-align:center;
}
span a{
  text-decoration: none;
  color: white;
}
.fin{
  font-family: 'Playfair Display', serif;
  font-size: 40px;
}
