body{
  font-family: 'Prompt', sans-serif;
  color:white;
  text-align:center;
  margin-top:2%;
}
.nav-link:hover{
  background-color: bisque;
  color:black;
}
.nav-link{
  color:white;
}
.footer{
  background-color: rgb(44,78,106);
  padding-top: 15px;
  padding-bottom:15px;
}
span a{
  text-decoration: none;
  color: white;
}
.fin{
  font-family: 'Playfair Display', serif;
  font-size: 40px;
}
