<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap" rel="stylesheet">
  <title>Site_internet</title>

</head>
<style>
  .corps{
  background-image:linear-gradient(rgba(42, 134, 72, 0.4), rgba(59, 109, 156, 0.7)),url('/assets/img/phare.png');
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
</style>
<body >

    <div class="corps container-fluid " style="margin-top: -38px;">
      <img src="assets/img/logoRS.png" style="padding-top: 15px;" class="d-block mx-auto" alt="logositeweb">
      <h2 style=" color:white;text-align:center;margin-top:2%;" class="fin">Richard Schulze</h2>
      <h4 style="font-family: 'Prompt', sans-serif; color:rgb(90, 129, 71);text-align:center;">Developpeur Web</h4>
        <nav class="navbar navbar-expand-lg ">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="container-fluid">
            <div class=" collapse navbar-collapse w-50" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto ">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" [routerLink]="['/accueil']">Accueil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" [routerLink]="['/qui-suis-je']">Qui suis-je ?</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mon experience
                  </a>
                  <ul class="dropdown-menu">
                    
                    <li><a class="dropdown-item" [routerLink]="['/exemple-de-creation']">Exemple de création</a></li>

                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    La création de votre site
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" [routerLink]="['/site_internet']">Présentation générale</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/les_3_etapes']">Les 3 grandes étapes</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/deroulement']">Déroulement de la création</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" [routerLink]="['/FAQ']">FAQ</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mes tarifs
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" [routerLink]="['/tarifs']" >Site de présentation</a></li>

                  </ul>
                </li>

                <li class="nav-item">
                  <a class="nav-link " aria-current="page" [routerLink]="['/me-contacter']">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" [routerLink]="['/parallax']">Parallax</a>
                </li>

              </ul>

            </div>
          </div>
        </nav>
        <hr style="color:black;font-weight:bold; border-width: 3px" class="w-50 mx-auto">
        <div class="container">
          <h3 class="text-center">Votre site internet : votre plus belle vitrine.</h3><br>

        <p style="margin-left:20%;text-align:justify; font-size: 15px; color:white; ">
        <span style="font-weight:bold;">
        Vous avez besoin d'un site internet pour présenter vos services ou vos produits ?<br>
        Vous souhaitez exposer au monde vos créations et votre savoir-faire ?<br><br></span>
        Votre site est votre première vitrine. En quelques instants de recherche sur internet, le visiteur peut découvrir vos produits et services.<br><br>
        Ainsi, un site clair, moderne, pratique, mettant en avant l'essentiel tout en renvoyant l'image la plus juste de ce que vous avez à offrir est un indispensable de nos jours.<br><br>
        L'impact des images, le poids des mots, l'organisation des rubriques, la mise en page, les liens, galeries, et vidéos ... Chaque élément du site doit être pensé et pesé. Un site web réussi, c'est évidemment un aspect technique maitrisé mais surtout des objectifs de communication accomplis.<br><br>
        Concepteur de sites j'ai vu évoluer les outils et les tendances en termes d'ergonomie et de design. Plus que jamais, une interface utilisateur attrayante, orientée et réfléchie vous permettra de marquer les esprits et de donner envie aux visiteurs de vous rencontrer ou d'acheter vos produits.<br><br>
        Réactif, à l'écoute, je saurai vous offrir le site que vous espérez tout en étant évidemment force de proposition dans un domaine que je maitrise et qui me passionne depuis plusieurs années.<br><br></p>

        </div>
<br>
      </div>
   <footer>
    <div class="footer container-fluid">
      <img src="assets/img/logoRS.png"  class="d-block mx-auto" alt="logositeweb">
      <h2 style=" color:white;text-align:center;margin-top:2%;" class="fin">Richard Schulze</h2>
      <h4 style="color:rgb(90, 129, 71);text-align:center;">Developpeur Web</h4>
      <a href="mailto:rswebcorp@gmail.com" style="text-decoration: none;color:white;text-align:center;margin-top:2%; font-size: 12px;">rswebcorp@gmail.com</a>
      <p style="color:white;text-align:center; font-size: 13px;">&copy; 2022 Richard SCHULZE <span><a [routerLink]="['/mentions_legales']">-Mentions légales</a><a [routerLink]="['/CGV']">- CGV</a></span></p>

    </div>
   </footer>

</body>
</html>


