<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <title>Contact</title>

</head>

<body >

    <div class="corps container-fluid" style="margin-top:-40px;background-image:linear-gradient(rgba(114, 220, 149, 0.4), rgba(188, 202, 215, 0.7)),url('assets/img/lac.jpg');">
      <img src="assets/img/logoRS.png" class="d-block mx-auto" style="padding-top: 15px; " alt="logositeweb">
      <h2 style=" color:black;text-align:center;margin-top:2%;" class="fin">Richard Schulze</h2>
      <h4 style="font-family: 'Prompt', sans-serif; color:black;text-align:center;">Developpeur Web</h4>
        <nav class="navbar navbar-expand-lg ">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="container-fluid">
            <div class=" collapse navbar-collapse w-50" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto ">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" [routerLink]="['/qui-suis-je']">Qui suis-je ?</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mon experience
                  </a>
                  <ul class="dropdown-menu">

                    <li><a class="dropdown-item" [routerLink]="['/exemple-de-creation']">Exemple de création</a></li>

                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    La création de votre site
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" [routerLink]="['/site_internet']">Présentation générale</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/les_3_etapes']">Les 3 grandes étapes</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/deroulement']">Déroulement de la création</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" [routerLink]="['/FAQ']">FAQ</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mes tarifs
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" [routerLink]="['/tarifs']">Site de présentation</a></li>

                  </ul>
                </li>

                <li class="nav-item">
                  <a class="nav-link " aria-current="page" [routerLink]="['/me-contacter']">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" [routerLink]="['/parallax']">Parallax</a>
                </li>


              </ul>

            </div>
          </div>
        </nav>
        <hr style="color:black;font-weight:bold; border-width: 3px" class="w-50 mx-auto">
        <div class="container">
          <h2 class="text-center">Contact</h2><br>

        <p style="text-align:center; font-size: 18px; color:black;font-weight:600;">Mon métier, ma passion, mes compétences : <span style="text-decoration:underline">créer des sites internet.</span> <br><br>
          Je vous propose ma prestation pour donner vie à <span style="text-decoration:underline">un site valorisant vos produits et services </span> , bien référencé et durable.<br><br>
          J'utilise un hébergement performant pour vous offrir un site fiable, rapide et sécurisé.<br><br>
          Design, implantation de contenus, photos d'illustration, interface, travail de référencement, liens externes et aspects techniques :<br> je m'occupe de tous ces éléments avec bonheur et plaisir pour vous offrir une création de site sereine et efficace.<br><br>
          Une fois le site créé, je reste disponible pour effectuer les modifications demandées et ce dans les meilleurs délais.<br> </p>
          <br><br></div>
          <div class="contact container">
            <button class="btn btn-light shadow"><a style="color:rgb(6, 3, 22);" href="mailto:rswebcorp@gmail.com">rswebcorp@gmail.com</a></button><br><br>
          </div>
          <div class="barre container-fluid ">
            <p>Ce que je vous propose :<br>
              Les prestations d'une agence - Le coût d'un indépendant - l'accompagnement d'une personne dévouée</p>
              </div><br>
              <div class="row">
                <div class="col">
                  <img src="assets/img/1b.png" style="border-radius:50%;" class="w-25" alt=""><br><br>
                  <p style="color:black;font-weight:bold;">Codage</p>
                </div>
                <div class="col">
                  <img src="assets/img/entreprise1.png" style="border-radius:50%; " class="w-25" alt=""><br><br>
                  <p style="color:black;font-weight:bold;">Referencement</p>
                </div>
                <div class="col">
                  <img src="assets/img/maintenance1.png" style="border-radius:50%;" class="w-25" alt=""><br><br>
                  <p style="color:black;font-weight:bold;">Maintenance</p>
                </div>
              </div><br>
              </div>






   <footer>
    <div class="footer container-fluid">
      <img src="assets/img/logoRS.png" class="d-block mx-auto" alt="logositeweb">
      <h2 style="color:white;text-align:center;margin-top:2%;" class="fin">Richard Schulze</h2>
      <h4 style="color:rgb(90, 129, 71);text-align:center;">Developpeur Web</h4>
      <a href="mailto:rswebcorp@gmail.com" style="text-decoration: none;color:white;text-align:center;margin-top:2%; font-size: 12px;">rswebcorp@gmail.com</a>
      <p style="color:white;text-align:center; font-size: 13px;">&copy; 2022 Richard SCHULZE <span><a [routerLink]="['/mentions_legales']">-Mentions légales</a><a [routerLink]="['/CGV']">- CGV</a></span></p>

    </div>
   </footer>

</body>
</html>

