<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <title>Accueil</title>

</head>

<body >

    <div class="parallax container-fluid " style="background-image:url('assets/img/phare.png');">
      <img src="assets/img/logoRS1.png" class="d-block mx-auto " style="padding-top: 15px; " alt="logositeweb">
      <h2 style=" color:white;text-align:center;" class="fin">Richard Schulze</h2>
      <h4 style="font-family: 'Prompt', sans-serif; color:white;text-align:center;">Developpeur Web</h4>
        <nav class="navbar navbar-expand-lg ">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="container-fluid">
            <div class=" collapse navbar-collapse w-50" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto ">
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" [routerLink]="['/qui-suis-je']">Mes prestations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" [routerLink]="['/exemple-de-creation']">Mes réalisations</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    La création de votre site
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" [routerLink]="['/les_3_etapes']">Les 3 grandes étapes</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/deroulement']">Déroulement de la création</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" [routerLink]="['/FAQ']">FAQ</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" [routerLink]="['/tarifs']">Mes tarifs</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link " aria-current="page" [routerLink]="['/me-contacter']">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" [routerLink]="['/parallax']">Informations</a>
                </li>


              </ul>

            </div>
          </div>
        </nav><br>

        <div class="container">
          <h3 class="text-center">Votre site internet : votre plus belle vitrine.</h3><br>

        <p style="text-align:center; font-size: 20px; color:white; ">
        <span style="font-weight:bold;">
        Vous avez besoin d'un site internet pour présenter vos services ou vos produits ?<br>
        Vous souhaitez exposer au monde vos créations et votre savoir-faire ?<br>Vous souhaitez développer vos ventes ?<br>Vous souhaitez être visible 24h/24 et 7/7 jours<br>Vous souhaitez trouver de nouveaux clients et augmenter votre chiffre d'affaire ?</span>
        <br></p>

        </div>
          <div class="barre container-fluid ">
            <p >Ce que je vous propose :<br>
              Les prestations d'une agence - Le coût d'un indépendant - l'accompagnement d'une personne dévouée</p>
              </div><br>
              <div class="row">
                <div class="col">
                  <img src="assets/img/1b.png" style="border-radius:50%;" class="w-25" alt=""><br><br>
                  <p style="color:white">Codage</p>
                </div>
                <div class="col">
                  <img src="assets/img/entreprise1.png" style="border-radius:50%; " class="w-25" alt=""><br><br>
                  <p style="color:white">Referencement</p>
                </div>
                <div class="col">
                  <img src="assets/img/maintenance1.png" style="border-radius:50%;" class="w-25" alt=""><br><br>
                  <p style="color:white">Maintenance</p>
                </div>
              </div><br>
              <br>

                </div>








   <footer>
    <div class="footer container-fluid">
      <img src="assets/img/logoRS.png" class="d-block mx-auto" alt="logositeweb">
      <h2 style="color:white;text-align:center;margin-top:2%;" class="fin">Richard Schulze</h2>
      <h4 style="color:rgb(90, 129, 71);text-align:center;">Developpeur Web</h4>
      <a href="mailto:rswebcorp@gmail.com" style="text-decoration: none;color:white;text-align:center;margin-top:2%; font-size: 12px;">rswebcorp@gmail.com</a>
      <p style="color:white;text-align:center; font-size: 13px;">&copy; 2022 Richard SCHULZE <span><a [routerLink]="['/mentions_legales']">-Mentions légales</a><a [routerLink]="['/CGV']">- CGV</a></span></p>

    </div>
   </footer>

</body>
</html>
